.flex-container {
    display: flex;
}

body {
    background-image: url(code.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover;*/
    
    
}

img {
    opacity: 0.5;
}